# Directorios ocultos de Terraform en cualquier subcarpeta
**/.terraform/*

# Archivos de estado 
**/*.tfstate
**/*.tfstate.*

# Archivos con variables sensibles 
**/*.tfvars
**/*.tfvars.json

# Archivos de bloqueo de versiones 
**/.terraform.lock.hcl

# Scripts de terminal 
*.sh

# Archivos de log
crash.log
crash.*.log
