# Directorios ocultos de Terraform en cualquier subcarpeta
**/.terraform/*

# Archivos de estado (¡Nunca subir!)
**/*.tfstate
**/*.tfstate.*

# Archivos con variables sensibles (Tus credenciales)
**/*.tfvars
**/*.tfvars.json

# Archivos de bloqueo de versiones (Opcional, pero te dejará el repo más limpio)
**/.terraform.lock.hcl

# Scripts de terminal (Suelen tener 'exports' con secretos)
*.sh

# Archivos de log
crash.log
crash.*.log